OPENAI_API_KEY="sk-82f319d0894644ac9d7d6ded74337652"#通义千问
#OPENAI_API_KEY="0"#微调模型
#OPENAI_API_KEY="sk-74f747693cda444e88fc063437d09871"#deepseek
#OPENAI_API_KEY="sk-t0vXIFLLybyLWJldoSzVcU2zzUH6yddWivapoMU2D9dygO4b"#chatgpt
